::-webkit-scrollbar { display: none;}
select{
    padding:5px;
}
body{
	margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
    font:600 16px/18px 'Open Sans',sans-serif;
    background:url("bg.jpg") no-repeat fixed;
    background-size: 100%;

}
#form{
    width: 220px;
    height: 130px;
    margin: auto;
    /* background-color: #464343; */
    color:white;
    border-radius: 10px;
    padding:10px;
    display:flex;
    flex-wrap: wrap;
    position: absolute;
    left: 40%;
    top: 30%;
}
body{
    background-color: #2d2d2d;
    box-sizing: border-box;
    color:white;
}
#typing{
    color: white;
}
#login, #room{
    width:100%;
    height: 20px;
    font-size: 17px;
    border-radius: 5px;
    padding:8px;
    outline: none;
    border-color:#2d2d2d;
}
#butConnect{
    width:100%;
    text-align: center;
    padding:5px;
    height: 20px;
    background-color: #2d2d2d;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}
#chat{
    display:grid;
    grid-template-columns: 30% 30%;
}
#leave{
    margin-bottom: 10px;
    width: 100px;
    background-color: #464646;
    padding: 5px;
    border-radius: 5px;
    height: 20p;
    cursor: pointer;


    background: gold;
    box-shadow: 0 -200px 100px -120px crimson inset;
    animation: background 3s infinite alternate;
    /* background: linear-gradient(rgba(2,0,36,1) 0%, rgba(121,9,9,1) 50%, rgba(0,212,255,1) 100%);
    background-position: 0 0;
    border-radius: 30px;
    border: 0px solid white;
    animation:  move-color 4s infinite alternate; */
    /* animation-name: move-color;
    animation-duration: 2s;
    animation-iteration-count: infinite; */
}
td:first-child{
    font-weight: bold;
}
#info, .users{
    background-color: #464343;
    padding: 10px;
    width: 200px;
    margin-top:10px;
    border-radius: 5px;

    background: rgb(0, 255, 34);
    box-shadow: 0 -200px 100px -120px rgb(57, 20, 220) inset;
    animation: background 3s infinite alternate;
}
.caption{
    text-align: center;
    font-weight: bold;
    font-size: 19px;
}
#col-1{
    padding: 20px;
    border:none;
    
}
#col-2{
    height: 100%;
}
.send{
    position: fixed;
    bottom: 10px;
}
#col-2 input{
    width:290px;
    height: 20px;
    font-size: 17px;
    border-radius: 5px;
    padding:8px;
    outline: none;
    border-color:#2d2d2d;
}
#send{
    height: 20px;
    background-color: rgba(0, 128, 0, 0.788);
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}
#messages{
    background-color: #46434396;
    height: 500px;
    border-radius: 10px;
    padding: 10px;
    overflow-y: scroll;
    border: 1px solid #a39797;

    border: 3px solid;
    border-image-source: linear-gradient(45deg, rgb(0,143,104), rgb(250,224,66));
    border-image-slice: 1;
}
.event{
    width: 150px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    /* background-color: #2d2d2d; */
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.9060574913559174) 49%, rgba(0,212,255,1) 100%);
}
.message{
    display: block;
    background-color: #2d2d2d;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.message h5{
    font-size: 17px;
    font-weight: bold;
    margin:0;
    margin-right: 20px;
    color:orange;
    
}
.message .time{
    width:50px;
    font-size: 10px;
    font-style: italic;
    font-weight: lighter;
    text-align: right;
    
}
.message p{
    background-color: #2d2d2d;
    padding: 5px;
    margin:0;
    border-radius: 5px;
    max-height: 100px;
    overflow-y: scroll;
    overflow-wrap: break-word;
    width: 350px;
}
.users{
    max-height: 425px;
    overflow-y: scroll;
}

@keyframes background {
    50% {
      background: skyblue;
      box-shadow: 0 -200px 100px -100px yellowgreen inset;
    }
  }

@keyframes move-color{
    100% {
        background-position: 0px 100px;
      }
}

@keyframes change-color{
    0%{
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,9,1) 50%, rgba(0,212,255,1) 100%);
    }
    10%{
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,57,9,1) 50%, rgba(0,212,255,1) 100%);
    }
    20%{
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(110,121,9,1) 50%, rgba(0,212,255,1) 100%);
    }
    30%{
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(32,121,9,1) 50%, rgba(0,212,255,1) 100%);
    }
    40%{
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,55,1) 50%, rgba(0,212,255,1) 100%);
    }
    50%{
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,121,1) 50%, rgba(0,212,255,1) 100%);
    }
    60%{
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,48,121,1) 50%, rgba(0,212,255,1) 100%);
    }
    70%{
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,10,121,1) 50%, rgba(0,212,255,1) 100%);
    }
    80%{
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(91,9,121,1) 50%, rgba(0,212,255,1) 100%);
    }
    90%{
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,100,1) 50%, rgba(0,212,255,1) 100%);
    }
    100%{
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,23,1) 50%, rgba(0,212,255,1) 100%);
    }
}